@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
}
/* Header */
header {
  background-color: #1a1e1f;
  padding: 5%;
  display: flex;
  justify-content: space-between;
  /* position: fixed; */
  width: 100%;
  z-index: 9;
}

.slider-section {
  position: relative;
}

.slider {
  width: 100%;
  margin: auto;
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  position: relative;
  height: 300px;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 100px;
  align-items: center;
  position: absolute;
  width: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.active-slide {
  opacity: 1;
}

.slide img {
  display: block;
}

.arrows {
  position: absolute;
  width: 90%;
  top: 50%;
  left: 50%;
  display: none;
  justify-content: space-between;
  transform: translate(-50%);
  color: white;
}

.arrows span {
  cursor: pointer;
  padding: 16px;
  user-select: none;
}
.prev,
.next {
  width: 20px;
}
.dots {
  text-align: center;
  padding: 10px;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

@keyframes fallDown {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

ul {
  background-color: rgb(50, 50, 50);
  /* width: 50%; */
  height: 100%;
  position: relative;
  list-style: none;
  animation: fallDown 1s ease-in-out forwards;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: top;
  padding: 45% 6% 0% 0%;
  gap: 8%;
}

nav {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding-left: 40%;
}

.cancel {
  display: none;
  position: absolute;
  top: 5%;
  right: 5%;
  z-index: 1;
}

a {
  color: white;
  text-decoration: none;
  font-family: "Noto Serif Georgian", serif;
}
a:hover {
  color: #00aef3;
}
.path {
  color: #00aef3;
  transition-duration: 1s;
}
/* section1 */
.section-image-background {
  background: rgba(0, 0, 0, 0.5);
  padding: 15% 5%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h2 {
  color: white;
  font-size: 200%;
  font-weight: 800;
  font-family: "Noto Serif Georgian", serif;
  font-optical-sizing: auto;
}

.title-span {
  font-size: 70%;
}

.background-img {
  background-image: url(./assets/for-web2-980x400.webp);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.info {
  background-color: #2b2b2b;
  padding: 5%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.text {
  color: white;
  font-family: "Noto Serif Georgian", serif;
}
.more {
  color: #00aef3;
  font-size: 130%;
  font-weight: 600;
  font-family: "Noto Serif Georgian", serif;
}
.more:hover {
  color: gray;
  transition-duration: 1s;
}

/* section2 */
.courses-section {
  background-color: #161616;
  padding: 5%;
}

.section-title {
  margin: 20px 0;
  font-size: 150%;
  font-weight: 300;
}

.courses {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.course {
  width: 100%;
  border: solid 0.1px gray;
}

.course-img {
  width: 100%;
}

h3 {
  color: #fff;
  font-size: 130%;
  margin: 35px 0;
  font-family: "Noto Serif Georgian", serif;
}

.date {
  color: #fff;
  font-size: 90%;
  font-family: "Noto Serif Georgian", serif;
}

.details-div {
  margin-top: 60px;
  margin-bottom: 30px;
  display: flex;
  gap: 5%;
}

.course-details {
  color: #00aeef;
  font-family: "Noto Serif Georgian", serif;
  font-weight: 600;
  font-size: 100%;
}

.course-details:hover {
  color: #006489;
  transition-duration: 1s;
}

.title,
.date,
.details-div {
  margin-left: 10%;
}

/* section4 */
.slider-section {
  background-color: #2b2b2b;
  padding: 5% 5%;
}

.question-section {
  background-color: #161616;
  padding: 5%;
  display: flex;
  flex-direction: column;
}

.all-questions {
  color: #00aef3;
  font-size: 140%;
  font-weight: 900;
  display: inline-block;
  align-self: center;
  margin-top: 35px;
}
.all-questions:hover {
  color: gray;
  transition-duration: 1s;
}

.question-result-div {
  border-bottom: solid 0.1px gray;
  margin-top: 20px;
  padding-bottom: 22px;
}

.question-div {
  display: flex;
  justify-content: space-between;
}

.question {
  margin-bottom: 20px;
  font-size: 80%;
  font-family: "Noto Serif Georgian", serif;
  color: #fff;
}

.result {
  display: none;
}

.show {
  display: inline;
  color: #fff;
  font-size: 60%;
  font-family: "Noto Serif Georgian", serif;
}

/* .result-span{

} */

/* footer */
footer {
  background-color: rgb(35, 35, 35);
  padding: 10% 5%;
  display: grid;
  grid:
    "TBC TBC"
    "button svg"
    "footer-text footer-text";
  justify-content: space-between;
  row-gap: 20px;
}

.tbc-footer {
  grid-area: TBC;
}
.footer-text-div {
  grid-area: footer-text;
}

.copyright,
.Terms-and-Conditions {
  color: white;
  font-family: "Noto Serif Georgian", serif;
  font-size: 90%;
  font-weight: 400;
}

.svg-div {
  display: flex;
  gap: 5%;
  grid-area: svg;
}

button {
  color: #fff;
  padding: 10px 25px;
  background-color: #00aeef;
  border: none;
  border-radius: 10px;
  font-family: "Noto Serif Georgian", serif;
  font-size: 80%;
  grid-area: button;
}

button:hover{
  background-color: #d9d9d9;
  transition-duration: 1s;
  color: black;
}

/* Tablet */
@media only screen and (min-width: 768px) {
  header {
    padding: 3% 5%;
  }
  a {
    font-size: 150%;
  }

  .section-image-background {
    padding: 15% 5%;
  }

  h2 {
    font-size: 300%;
  }
  .text {
    font-size: 200%;
    font-weight: 500;
  }
  .more {
    font-size: 150%;
  }

  .section-title {
    margin: 30px 0;
    font-size: 180%;
    font-weight: 300;
  }

  .courses {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 8%;
    row-gap: 30px;
  }

  .course {
    width: 45%;
  }

  .all-questions {
    font-size: 160%;
  }

  .question {
    font-size: 90%;
  }

  button {
    font-size: 130%;
  }

  .svg-div {
    gap: 10%;
    height: 40px;
  }
}

/* Desktop */
@media only screen and (min-width: 1020px) {
  main {
    padding-top: 100px;
  }
  header {
    padding: 2% 2%;
    position: fixed;
    height: 100px;
  }
  .header-logo {
    width: 20%;
  }

  .burger {
    display: none;
  }

  ul {
    background-color: #1a1e1f;
    height: unset;
    position: relative;
    list-style: none;
    animation: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: unset;
  }

  nav {
    position: unset;
    display: inline;
    width: 100%;
    height: unset;
    background-color: unset;
    padding-left: 0;
    margin-top: 10px;
  }

  a {
    font-size: 90%;
  }

  .section-image-background {
    padding: 10% 2%;
  }

  .info {
    padding: 2%;
  }

  .courses-section {
    padding: 2%;
  }

  .courses {
    gap: 20px 5%;
    width: 100%;
    justify-content: flex-start;
  }
  .course {
    width: 30%;
  }
  .slider-section {
    padding: 2%;
  }

  .question-section {
    padding: 6%;
  }
  footer {
    padding: 5% 2%;
    grid:
      "TBC svg"
      "footer-text button";
  }
  .svg-div {
    justify-self: end;
  }
  .question {
    font-size: 110%;
  }
  .show {
    font-size: 100%;
  }

  .slides {
    height: 100px;
  }

  .slide {
    flex-direction: unset;
    gap: 5%;
  }
  .arrows {
    display: flex;
  }
}

@media only screen and (min-width: 1100px) {
  header {
    padding: 2% 10%;
  }

  .burger {
    width: 30px;
  }
  .section-image-background {
    padding: 10%;
  }

  .info {
    padding: 10%;
  }

  .courses-section {
    padding: 10%;
  }

  .courses {
    gap: 20px 5%;
    width: 100%;
    justify-content: flex-start;
  }
  .course {
    width: 30%;
  }
  .slider-section {
    padding: 2% 10%;
  }

  .section-title {
    grid-area: title;
  }
  .all-questions {
    grid-area: all;
    margin: 0;
    justify-self: end;
  }
  .questions {
    grid-area: questions;
  }
  .question-section {
    padding: 14%;
    display: grid;
    grid:
      "title all"
      "questions questions";
  }
  footer {
    padding: 5% 10%;
  }
  .slide {
    gap: 20%;
  }
}
